@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0: #cbc6cc;
    --cor1: #314f50;
    --cor2: #508486;


    --fontepadrao: arial, verdana, helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', sans-serif;
}

*{
    margin:0px;
    padding: 0px;
}

a.externo::after{
    content: '\1F517';
}

@media (max-width: 1830px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

header {
    background-color:rgba(133, 129, 129, 0.363);
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header > h1{
    color: #508486;
    font-family: var(--fontedestaque);
    font-size: 97px;
    font-weight: normal;
    margin-left: 7px;
}

header > h2{
    color: #000000;
    font-family: var(--fontedestaque);
    font-size: 16px;
    font-weight: normal;
    margin-left: 7px;
    text-shadow: 0px 1px 7px #0000005d;
}

nav{
    background-color: rgba(133, 129, 129, 0.363);
    padding: 15px;
    box-shadow: 0px 7px 7px #d8d4d48c;
    font-family: var(--fontepadrao);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav a{
    color: rgb(0, 0, 0);
    font-family: var(--fontepadrao);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover{
    background-color: #25242462;
    border-radius: 5px;
    color: var(--cor5);
    transition-duration: .2s;   
}

div.linksnav{
    height: 25px;
}

div#botaodocarrinho{
    display: flex;
    align-items: end;
    justify-content: end;
}

img#imagecarrin{
    width: 28px;
    height: 28px;
}

img#imagecarrin:hover{
    background-color: #25242462;
    transition: 0.3s;
}

h1#textoacima{
    font-family: var(--fontedestaque);
    font-size: 40px;
    color: #508486;
    text-align: center;
    margin: 30px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

div.abacarrinho{
    position: fixed;
    top: 0;
    right: -100%;
    width: 500px;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 4px black;
    transition: 0.3s;
}

.abacarrinho.active{
    right: 0px;
}

div#fecharcarrinho{
    display: flex;
    align-items: end;
    justify-content: end;
}

input#fecharocarrin{
    font-family: var(--fontepadrao);
    background-color: red;
    color: white;
    border:0;
    height: 25px;
    width: 50px;
}

input#fecharocarrin:hover{
    background-color: white;
    color: red;
    box-shadow: 0px 0.5px 7px red;
    border-radius: 5px;
    transition: 0.3s;
}

input.comprarcarrinho{
    border: 0;
    margin: 5px;
    background-color: var(--cor2);
    height: 50px;
    width: 125px;
    font-family: var(--fontedestaque);
    color: white;
    font-size: 20px;
}

div.comprarcarrin{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input.comprarcarrinho:hover{
    color: var(--cor2);
    background-color: white;
    box-shadow: 0px 1px 7px var(--cor2);
    border-radius: 5px;
    transition: 0.3s;
}

h2.titulocarrinho{
    font-family: var(--fontepadrao);
    font-size: 35px;
    text-align: center;
}

div.produtos{
    margin: 10px auto;
    width: 150px;
    padding-top: 15px;
}

a.linksprodutos{
    text-decoration: none;
    color: #000000;
}

div img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 19px;
}

div img.fotosprod:hover{
    transform: scale(1.25);
    transition-duration: 0.3s;
    box-shadow: 0px 1px 7px var(--cor2); 
    margin-bottom: 25px;
}

input.botaocarrinho{
    border-radius: 5px;
    border-color: #6AAFB3;
    border: 0;
    background-color: white;
    color: var(--cor2);
    width: 150px;
    height: 35px;
    font-family: var(--fontedestaque);
    font-size: 18px;
    margin-top: 12px;
    box-shadow: 0px 1px 7px var(--cor2);
    text-align: center;
}

input.botaocarrinho:hover{
    background-color: var(--cor2);
    color: white;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 0px;
}

input.botaocompra{
    border-radius: 5px;
    border: 0;
    background-color: var(--cor2);
    color: white;
    width: 150px;
    height: 35px;
    font-family: var(--fontedestaque);
    font-size: 20px;
}

div.botaodecompra{
    margin-top: 7px;
}

input.botaocompra:hover{
    background-color: white;
    color: var(--cor2);
    transition-duration: 0.3s;
    box-shadow: 0px 1px 7px var(--cor2);
}

p.nomedoproduto{
    font-size: 20px;
    font-family: var(--fontedestaque);
    text-align: center;
}

p.quantidade{
    font-family: var(--fontedestaque);
    color: var(--cor2);
    font-size: 16px;
    text-align: center;
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.425);
}

p.preçodoproduto{
    font-family: var(--fontedestaque);
    font-size: 23px;
    text-align: center;
}

div.precoparcelado{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#voltarinicio{
    display: grid;
    place-items: center;
}

input.voltartopo{
    background-color: var(--cor2);
    font-family: var(--fontedestaque);
    font-size: 25px;
    text-shadow: 0px 2px 2px #0000005d;
    border-radius: 150px;
    color: white;
    margin-top: 35px;
    height: 40px;
    width: 50px;
    text-align: center;
    border: 0;
}

input.voltartopo:hover{
    transform: scale(1.25);
    transition-duration: 0.3s;
    background-color: white;
    color: var(--cor2);
    box-shadow: 0px 1px 7px var(--cor2);
}

footer{
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));;
    font-family: var(--fontepadrao);
    color: rgb(255, 255, 255);
    margin-top: 60px;
    text-align: left;
    bottom: 0;
    width: 100%;
}

footer > h1 {
    padding-top: 25px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: white;
    font-size: 45px;
}

footer > a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-family: var(--fontepadrao);
    font-size: 13px;
}

footer > p {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: var(--fontepadrao);
    font-size: 15px;
}

footer img{
    width: 500px;
    height: 90px;
    background-color: #5084864b;
}

div.formasdepagamentotext{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontedestaque);
    font-size: 20px;
}

div.formadepagamentos{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 25px;
}